NEXT_PUBLIC_SITE_URL=https://www.naslaexport.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16dXVweWRycHVyZnFjeGd5YWd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1Njk5MTYsImV4cCI6MjEwNTE0NTkxNn0.JHmlynd187LYsn-vlIBulTQ6uMBuxYtuqy1VON1yhsA
NEXT_PUBLIC_SUPABASE_URL=https://mzuupydrpurfqcxgyagy.supabase.co
PAYMENT_API_KEY=
PAYMENT_API_URL=
REGISTRAR_API_KEY=
REGISTRAR_API_URL=
RESEND_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16dXVweWRycHVyZnFjeGd5YWd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU2OTkxNiwiZXhwIjoyMTA1MTQ1OTE2fQ.jO_V1g5jUnp-P1LAb7ipdGcCRxOGOFWF3-TMO0WwUG4
WHATSAPP_NUMBER=